################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SeleniumWebDriver/.vs/SeleniumWebDriver/v16/Server/sqlite3/db.lock
/SeleniumWebDriver/.vs/SeleniumWebDriver/v16
/SeleniumSpecflow/.vs/SeleniumSpecflow/v16
